@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


h3 {
  font-family: 'Courier New', Courier, monospace;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  font-family: 'Courier New', Courier, monospace;
}

a {
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  font-family: 'Courier New', Courier, monospace;
}